In [1]:
import pandas as pd

# Pracujemy z plikami - Excel

## Wczytywanie danych z pliku Excel

In [2]:
df = pd.read_excel('company.xlsx')

df

,name,address,email
0,Brian Chan,"071 Sandra Villages Apt. 818\nNew Nancy, CO 54199",dthompson@example.org
1,Reginald Williams,USNV Collins\nFPO AA 63235,gchavez@example.net
2,Michelle Roberts,"881 Martin Mission Suite 383\nEast Brittany, C...",robinoconnor@example.com
3,Daniel Marshall,"27457 Sanchez Prairie\nNorth Amanda, RI 79959",heather66@example.com
4,Heather Hines,"0754 Kramer Overpass Suite 134\nCraigfurt, OH ...",nbrown@example.com
...,...,...,...
95,Karen Day,"52088 Vanessa Place\nLake Victoriamouth, MH 55271",osimpson@example.net
96,Daniel Glass,"86889 Lane Ranch Suite 352\nChapmanville, IN 4...",joseph36@example.com
97,Sarah Taylor,"503 Edward Lake Suite 083\nEast Dean, NJ 28284",sbush@example.net
98,Charlene Kelly,"54934 Hughes Hills Apt. 483\nPerezhaven, AR 28230",ofoster@example.com
99,David Petersen,"1938 David Row Suite 735\nMurphyfort, MI 53049",michaeladams@example.com

## Wczytywanie danych z pliku Excel - arkusze

In [ ]:
df = pd.read_excel('company.xlsx', sheet_name='costs')

df

## Wczytywanie danych z pliku Excel - zakresy + arkusze

In [ ]:
df = pd.read_excel('company.xlsx', sheet_name='costs', skiprows=2, nrows=20)

df

## Zapisywanie danych do pliku Excel

In [ ]:
notes_df = pd.DataFrame([
    {'note': 'This is a note'},
    {'note': 'This is another note'},
    {'note': 'This is a third note'},
])

notes_df.to_excel('notes.xlsx', index=False)

## Zapisywanie danych do pliku Excel - pełna kontrola!

In [ ]:
notes_df = pd.DataFrame([
    {'note': 'This is a note'},
    {'note': 'This is another note'},
    {'note': 'This is a third note'},
])

with pd.ExcelWriter("company.xlsx", mode='a', if_sheet_exists='replace') as writer:
    notes_df.to_excel(writer, sheet_name='notes', index=False, startrow=10, startcol=2)