In [ ]:
import pandas as pd

# do pracy z sqlite w pythonie używamy modułu sqlite3
import sqlite3

# Baza danych - łączymy się z bazą danych - SQLite

Naszą przygodę z bazami danych zaczniemy od SQLite, bazy absolutnie minimalistycznej, ale powszechnie wykorzystywanej.

Bazy danych SQLite jest obecnie używana w dowolnym środowisku:
* iPhone'y
* telefony z systemem Android
* konsole do gier
* itp.

Udział w rynku bazy SQLite wynosi około 1,5%.

In [ ]:
# Połączenie z bazą danych
conn = sqlite3.connect('moja_pierwsza_baza.db')

## Tworzenie tabeli

In [ ]:
# Po utworzeniu połączenia musimy utworzyć kursor,
# który pozwoli na wykonywanie poleceń SQL
cur = conn.cursor()

# Tworzymy tabelę
cur.execute('''
CREATE TABLE IF NOT EXISTS clients (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    imie TEXT NOT NULL,
    nazwisko TEXT NOT NULL,
    wiek INTEGER NOT NULL
)
''')

## Przesyłanie danych

In [ ]:
# dane możemy przesyłać "ręcznie"
cur.execute('''
INSERT INTO clients (imie, nazwisko, wiek) VALUES ('Maciej', 'Sobczak', 39)
''')
cur.execute('''
INSERT INTO clients (imie, nazwisko, wiek) VALUES ('Andrzej', 'Kowalski', 36)
''')

In [ ]:
# albo użyć do tego pandas
dane_df = pd.DataFrame({
    'imie': ['Jan', 'Anna', 'Piotr'],
    'nazwisko': ['Kowalski', 'Nowak', 'Nowak'],
    'wiek': [34, 23, 45]
})

dane_df.to_sql('clients', con=conn, if_exists='append', index=False)

## Odczytywanie danych

In [ ]:
# odpytanie bazy danych "ręcznie"
cur.execute('SELECT * FROM clients')
cur.fetchall()

In [ ]:
# albo wczytanie danych do DataFrame
df = pd.read_sql_query('SELECT * FROM clients', conn)
df

In [ ]:
# albo wczytanie tylko określonych danych do DataFrame
df = pd.read_sql_query("SELECT * FROM clients WHERE nazwisko = 'Kowalski'", conn)
df

In [ ]:
# ale w związku z tym, że my chcemy pracować jak profesjonaliści
# to musimy pamiętać o zamknięciu połączenia
conn.close()

In [ ]:
# a żeby o tym nie zapomnieć to wykorzystamy konstrukcję `with`
# i tak w większości będzie wyglądał wasz kod poświęcony pracy z bazą danych
with sqlite3.connect('moja_pierwsza_baza.db') as conn:
    safe_df = pd.read_sql_query('SELECT * FROM clients', conn)

safe_df