In [ ]:
import pandas as pd

import sqlite3

# Baza danych - SQL - język baz danych - jak wykonywać operacje na danych?

Pracując w zawodzie Data Scientist przez 90% czasu spędzonego nad pracą z bazami danych będziemy używać instrukcji `SELECT` (lub innych które pozwolą nam pobierać dane do analizy i trenowania modeli AI).

Jednak warto znać inne instrukcje w języku SQL, na które możemy się natknąć w naszej pracy.

## Jak definiować tabelę w bazie danych

In [ ]:
with sqlite3.connect('learning_non_select.db') as conn:
    conn.execute('''
        CREATE TABLE products (
            id INTEGER PRIMARY KEY,
            name TEXT,
            price REAL
        );
    ''')

## Jak usuwać tabelę z bazy danych?

UWAGA! Tego nie rób na produkcji! Usunięcie tabeli z bazy danych spowoduje utratę wszystkich danych w niej zawartych.

```python
with sqlite3.connect('learning_non_select.db') as conn:
    conn.execute('''
        DROP TABLE products;
    ''')
```

## Jak przesyłać dane do bazy danych?

In [ ]:
with sqlite3.connect('learning_non_select.db') as conn:
    conn.execute('''
        INSERT INTO products (name, price) VALUES
            ('Apple', 1.00),
            ('Banana', 0.50),
            ('Cherry', 2.00);
    ''')

with sqlite3.connect('learning_non_select.db') as conn:
    print(conn.execute('SELECT * FROM products;').fetchall())

## Jak modifikować dane w bazie danych?

In [ ]:
with sqlite3.connect('learning_non_select.db') as conn:
    conn.execute('''
        UPDATE products SET price = 2.50 WHERE name = 'Banana';
    ''')

with sqlite3.connect('learning_non_select.db') as conn:
    print(conn.execute('SELECT * FROM products;').fetchall())

## Jak usuwać dane z bazy danych?

In [ ]:
with sqlite3.connect('learning_non_select.db') as conn:
    conn.execute('''
        DELETE FROM products WHERE name = 'Apple';
    ''')

with sqlite3.connect('learning_non_select.db') as conn:
    print(conn.execute('SELECT * FROM products;').fetchall())